<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="EventLogger" packages="ap.hearthstone"   monitorInterval="30">
    <properties>
        <property name="logPath">logs</property>
        <property name="defaultPattern">%d [%t] %X{id} %X{loginId} %p %c - %m%n</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout header="${sys:id}%n" pattern="%d{HH:mm:ss} [%t] %level %c: %msg %throwable %n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${logPath}/myLog.log"
                     filePattern="${logPath}/$${date:yyyy-MM-}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="${defaultPattern}" header="USER:username%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="500" />
            </Policies>
        </RollingFile>
        <Failover name="FailoverAppender" primary="Console">
            <Failovers>
                <AppenderRef ref="RollingFile" />
            </Failovers>
        </Failover>
    </Appenders>

    <loggers>
        <root level="debug">
            <appenderRef ref="Console"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>